<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178974416087-2kq8987j10po55eqgnujlo70i901bh68.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178974416087-2kq8987j10po55eqgnujlo70i901bh68</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>178974416087-t57vcj8t3ivglgrb3ajtrd6k6oo1aqou.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBux94VnLpfMb4fpKq0UhctKl0OeCRM-8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>178974416087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dormnow</string>
	<key>PROJECT_ID</key>
	<string>dormnow-46dee</string>
	<key>STORAGE_BUCKET</key>
	<string>dormnow-46dee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178974416087:ios:fabf1da03ca21deb8ae492</string>
</dict>
</plist>